<%= link_to edit_task_path(@task.id), class: 'pull-right btn btn-default' do %>
  <i class="fa fa-pencil"></i> Edit this task
<% end %>

<h1><%= @task.title %></h1>
<p class="well"><%= @task.details %></p>

<% if @task.completed %>
 This task is completed
<% else %>
This task is not completed yet
<% end %>

<hr>

<%= link_to "Back to list", tasks_path %>

<!-- <h2><%= link_to @task.title, task_path %></h2> -->
<!-- <h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<%= link_to "Back to list", tasks_path %>
<%= link_to "Edit this task", tasks_path %>
<%= link_to "Delete", task_path, method: :delete %>
